# Node.js
node_modules/

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env
.env.*

# Документация и временные файлы
/docs/AI_FUNCTIONS.md

# Docker
*.pid
docker-compose.override.yml

# IDE/Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db 